/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0;}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, menu, nav, section, main {display: block;}

ol, ul {list-style: none;}
blockquote, q {quotes: none;}
img{max-width: 100%; height: auto;}
a{text-decoration: underline;}
a:hover{cursor: pointer;}

*::-webkit-input-placeholder {color: #a9a9a9; opacity: 1;}
*:-moz-placeholder {color: #a9a9a9; opacity: 1;}
*::-moz-placeholder {color: #a9a9a9; opacity: 1;}
*:-ms-input-placeholder {color: #a9a9a9; opacity: 1;}
*{margin: 0; padding: 0;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
button,input{outline: none;}

/* Default settings*/


.hidden{display: none;}
.clear{clear: both;height: 0px;}
.invis{display: none;}
.left{float: left;}
.right{float: right;}
.center{text-align: center;}
.clearfix:after{content: '';display: block;clear: both;}

/*Site settings*/
h1,h2,h3,h4,h5,h6{font-weight: 400;}
b, strong{font-weight: 700;}
i{font-style: italic;}

.opacity-75{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    opacity: 0.75;
}
.shadow-text{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
.shadow-55{
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow:    0px 1px 2px 0px rgba(0, 0, 0, 0.55);
    box-shadow:         0px 1px 2px 0px rgba(0, 0, 0, 0.55);
}
.border-5{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.animate {
    -webkit-transition: all 0.3s;
    -moz-transition:    all 0.3s;
    -o-transition:      all 0.3s;
    -ms-transition:     all 0.3s;
    transition:         all 0.3s;
}
.col-v{color: #07befa;} 
.col-s{color: #fff;}
.col-m{color: #24272d;}
.bg-grey{background: #f3ffaf repeat; color: #222;}
/*structure*/
html{
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body{
    position: relative;
    width: 100%;
    min-width: 320px;
    padding: 0px;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.5em;
    color: #434343;
    font-weight: normal;
    overflow-x:hidden;
}
.section, .wrap, .container{
    position: relative;
}
.section{
    width: 100%;
}
.wrap{
    width: 960px;
    padding: 60px 20px;
    margin: 0 auto;
}
/* .button{
    position: relative;
    display: block;   
    width: 268px;
    height: 71px;
    border: 0;
    outline: 0;
    background: url(../img/button.png) center top no-repeat;
    text-decoration: none;
    cursor: pointer;
}
.button:hover{
    background-position: center bottom;
} */

h2{
    position: relative;
    padding-left: 30px;
    font-size: 27px;
    text-transform: uppercase;
    line-height: 1.4em;
    font-weight: 500;
}
h2 .col-v{
    font-size: 1.4em;
    font-weight: 700;
}
/* h2.normal:before{
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 100%;
    margin-left: -30px;
    background: rgb(7, 190, 250);
    background: -moz-linear-gradient(270deg, rgb(7, 190, 250) 0%, rgb(128, 13, 242) 100%);
    background: -webkit-linear-gradient(270deg, rgb(7, 190, 250) 0%, rgb(128, 13, 242) 100%);
    background: -o-linear-gradient(270deg, rgb(7, 190, 250) 0%, rgb(128, 13, 242) 100%);
    background: -ms-linear-gradient(270deg, rgb(7, 190, 250) 0%, rgb(128, 13, 242) 100%);
    background: linear-gradient(0deg, rgb(7, 190, 250) 0%, rgb(128, 13, 242) 100%);
} */
h2.center{
    padding: 0;
}
h2.center:after{
    content: '';
    display: block;
    position: relative;
    width: 100px;
    height: 3px;
    margin: 0px auto;
    margin-top: 15px;
    background: rgb(7, 190, 250);
    background: -moz-linear-gradient(180deg, rgb(7, 190, 250) 0%, rgb(128, 13, 242) 100%);
    background: -webkit-linear-gradient(180deg, rgb(7, 190, 250) 0%, rgb(128, 13, 242) 100%);
    background: -o-linear-gradient(180deg, rgb(7, 190, 250) 0%, rgb(128, 13, 242) 100%);
    background: -ms-linear-gradient(180deg, rgb(7, 190, 250) 0%, rgb(128, 13, 242) 100%);
    background: linear-gradient(90deg, rgb(7, 190, 250) 0%, rgb(128, 13, 242) 100%);
}
h3{
    font-style: italic;
    font-weight: 500;
    line-height: 1.4em;
    font-size: 24px;
    padding-bottom: 0.5em;
}
h4{
    font-style: italic;
    line-height: 1.4em;
}
.sale{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 34px;
    color: #fff;
    line-height: 1em;
}
.countbox{padding: 0;margin:0 auto;line-height: 1.2;color: #07befa; font-size: 28px; width: 242px; padding-top: 15px; height: 80px;}
.countbox .countbox-num{float: left; width:74px; height: 47px; line-height: 42px;}
.countbox .countbox-space{float: left; width: 10px; height: 47px; }
.countbox .countbox-space:before{content: '\003A'; font-weight: 500; color: #fff; line-height: 42px;}
.countbox-hours1,.countbox-mins1,.countbox-secs1{float: left;text-align: center;background-image:url('../img/timer-bg.png');background-repeat:no-repeat;margin: 0; height: 47px;width: 37px;z-index:1;}
.countbox-hours2,.countbox-mins2,.countbox-secs2{float: left;text-align: center;background-image:url('../img/timer-bg.png');background-repeat:no-repeat;margin: 0; height: 47px;width: 37px;z-index:1;}
.countbox-hours-text,.countbox-mins-text,.countbox-secs-text{background-position: center;background-repeat:no-repeat;position: absolute;margin-top: 34px;height: 14px;width: 74px; color: #3FBBE4; font-size: 12px;}

.block-1{
    height: 515px;
    background: url(../img/top-1920.jpg) center top no-repeat #161618;
}
.block-1 .wrap{
    padding: 20px;
}
.block-1 .sale{
    top: 84px;
    left: 406px;
}
.block-1 .container{
    width: 320px;
    padding: 0 10px;
    margin-left: 586px;
    color: #fff;
}
.block-1 .timer{
    position: relative;
    text-align: center;
}
.block-1 .cost{
    position: relative;
    padding-top: 25px;
    font-size: 24px;
    text-align: center;
}
.block-1 .cost span{
    margin: 0 10px;
}
.block-1 .cost .old-cost{
    text-decoration: line-through;
}
.block-1 form{
    position: relative;
    padding-top: 25px;    
}
.block-1 form>div{
    padding-bottom: 15px;
}
.block-1 form input, select{
    position: relative;
    display: block;
    outline: 0;
    border: 0;
    width: 258px;
    height: 46px;
    margin: 0 auto;
    background: #fff;
    text-indent: 15px;
    font-size: 18px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.block-1 form button{
    position: relative;
    display: block;
    outline: 0;
    /* border: 0; */
    margin: 0 auto;
}
.block-1 .alert{
    position: relative;
    padding-top: 18px;
    font-style: italic;
    font-size: 16px;
    text-align: center;
}
.block-1 .alert:before{
    content: '';
    display: block;
    width: 28px;
    height: 28px;
    margin: 0 auto;
    margin-bottom: 7px;
    background: url(../img/alert.png);
}
.lenta{
    padding: 15px 0 18px 0;
    background: #07befa;
    color: #fff;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    font-size: 28px;
    line-height: 1em;
}
.block-2 .container>div{
    position: relative;
    float: left;
    width: 460px;
}
.block-2 .advant ul{
    padding-top: 50px;
    padding-right: 50px;
}
.block-2 .advant ul li{
    position: relative;
    height: 40px;
    line-height: 40px;
    padding-left: 50px;
    margin-bottom: 15px;
    font-size: 19px;
    font-style: italic;   
}
.block-2 .advant ul li:before{
    content: '';
    position: absolute;
    display: block;
    width: 30px;
    height: 40px;
    background: url(../img/icons.png) left no-repeat;
    left: 0;
    top: 0;
}
.block-2 .advant ul li p{
    border-bottom: 1px dotted #9ce5fd;
}
.block-2 .advant ul li:nth-child(1):before{
    background-position: 0 0;
}
.block-2 .advant ul li:nth-child(2):before{
    background-position: 0 -40px;
}
.block-2 .advant ul li:nth-child(3):before{
    background-position: 0 -80px;
}
.block-2 .advant ul li:nth-child(4):before{
    background-position: 0 -120px;
}
.block-2 .advant ul li:nth-child(5):before{
    background-position: 0 -160px;
}
.block-2 .advant ul li:nth-child(6):before{
    background-position: 0 -200px;
}
.block-2 .history{
    padding: 20px 26px;
    border: 2px dashed #07befa;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.block-2 .history p{
    text-align: justify;
}
/* .block-2 .history:after{
    content: '';
    display: block;
    position: absolute;
    width: 46px;
    height: 184px;
    background: url(../img/list-right.jpg) left top no-repeat;
    right: -48px;
    top: 40%;
}
.block-2 .history:before{
    content: '';
    display: block;
    position: absolute;
    width: 314px;
    height: 37px;
    background: url(../img/list-top.jpg) left top no-repeat;
    top: -39px;
    left: 20%;
} */
.block-3 .container{
    padding-top: 30px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 2px dotted rgba(29, 74, 92, 0.6);
}
.block-3 .container>div.sostav{
    position: relative;
    float: left;
    width: 40%;
    margin: 0 5%;
}
.block-3 .sostav>div{
    position: relative;
    width: 315px;
    height: 305px;
    margin: 0 auto;
    background: url(../img/sostav.png) no-repeat;
}
.block-3 .sost-1>div{
    background-position: 0 0;
}
.block-3 .sost-2>div{
    background-position: 100% 0;
}
.block-3 .sostav h5{
    padding: 20px 0;
    font-size: 28px;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
}
.block-3 .sostav h5:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 25px;
    margin-right: 15px;
    background: url(../img/flag.png) 0 0 no-repeat;
    margin-left: -15px;
}
.block-3 .sostav p{
    padding-bottom: 8px;
    font-size: 16px;
    text-align: justify;
    font-style: italic;
}
.block-3 .container-2{
    position: relative;
}
.block-3 .container-2>img{
    position: relative;
    display: block;
    float: left;
    margin: 0 60px 0 50px;
}
.block-3 .container-2 .button{
    float: left;
    margin-left: -6px;
    margin-top: 20px;
}
.block-3 .container-2 p{
    padding-bottom: 15px;
    font-style: italic;
}
.block-4 .container{
    padding: 60px 0;
    /* border-bottom: 1px dotted #9ce5fd; */
}
.block-4 .rew-item{
    position: relative;
    float: left;
    width: 306px;
    padding: 0 30px;
    text-align: center;
}
.block-4 .rew-item:after{
    content: '';
    position: absolute;
    height: 300px;
    border-right: 1px dotted #9ce5fd;
    right: 0;
    top: 200px;
}
.block-4 .rew-item:last-child:after{
    content: '';
    border: 0;
}
.block-4 .rew-item>div{
    position: relative;
    width: 174px;
    height: 174px;
    background: url(../img/rew-pic.jpg) no-repeat;
    margin: 0 auto;
    margin-bottom: 15px;      
}
.block-4 .rew-1>div{
    background-position: 0 0;
}
.block-4 .rew-2>div{
    background-position: -174px 0;
}
.block-4 .rew-3>div{
    background-position: -348px 0;
}
.block-4 .rew-item>span{
    font-size: 19px;
    font-weight: 500;
}
.block-4 .rew-item>span small{
    font-weight: 400;
    font-size: 0.7em;
}
.block-4 .rew-item>p{
    padding-top: 15px;
    text-align: justify;
    font-size: 16px;
    font-style: italic;
}
.block-5 .wrap{
    padding: 0 20px;
    padding-bottom: 50px;
}
.block-5 .container{
    width: 420px;
}
.block-5 h5{
    padding: 40px 0 20px 0;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}
.block-5 h5:before{
    content: '';
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 19px;
    height: 25px;
    margin-right: 15px;
    background: url(../img/doc-icon.png) 0 0 no-repeat;
}
.block-5 .container p{
    font-style: italic;
    text-align: justify;
}
.block-5 .wrap>img{
    position: absolute;
    display: block;
    width: 490px;
    height: auto;
    bottom: 0;
    right: 0;
}
.block-6 .del-item{
    position: relative;
    float: left;
    width: 306px;
    padding: 0 40px;
    text-align: center;
    font-style: italic;
}
.block-6 .del-item>div{
    position: relative;
    width: 131px;
    height: 131px;
    background: url(../img/deliv-icon.png) no-repeat;
    margin: 0 auto;
    margin-bottom: 15px;      
}
.block-6 .del-1>div{
    background-position: 0 0;
}
.block-6 .del-2>div{
    background-position: -131px 0;
}
.block-6 .del-3>div{
    background-position: -262px 0;
}
.footer{
    padding: 12px 0;
    background: #07befa;
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 1.3em;
}





@media screen and (max-width: 959px){
    .wrap{
        width: 640px;
        margin: 0 auto;
    }
    .block-1{
        height: 514px;
        background: url(../img/top-650.jpg) center top no-repeat #161618;
    }
    .block-1 .container {
        margin-left: 300px;
    }
    .block-1 .sale {
        top: 195px;
        left: 204px;
    }
    .lenta{
        font-size: 24px;
    }
    .block-2 .container>div{
        float: none;
        width: 100%;
    }
    .block-2 .advant{
        padding-bottom: 50px;
    }
    .block-2 .advant ul{
        padding-right: 0px;
    }
    .block-2 .advant ul li{
        width: 45%;
        height: auto;
        float: left;
        margin-right: 5%;
        line-height: 1.3em;
        margin-bottom: 30px;
        padding-bottom: 5px;
     }
     .block-2 .advant ul li p{
        min-height: 50px; 
     }
     .block-3 .container>div.sostav{
         float: none;
         width: 80%;
         margin: 0 auto;
         margin-bottom: 40px;
     }
     .block-3 .container-2>img{
         margin: 0 50px 0 20px;
     }
     .block-4 .rew-item {
        float: none;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .block-4 .rew-item:after{
        display: none;
    }
    .block-5 .wrap>img{
        width: 400px;
        right: -120px;
    }
    .block-6 .del-item{
        float: none;
        width: 100%;
        text-align: left;
        padding: 0 0 30px 0;
    }
    .block-6 .del-item:last-child{
        padding-bottom: 0;
    }
    .block-6 .del-item>div{
        float: left;
        margin: 0 30px 0 0;
    }
    .block-6 .del-item>p{
        padding-top: 20px;
    }
}
@media screen and (max-width: 639px){
    .wrap{
        width: 320px;
        padding: 40px 15px;
        margin: 0 auto;
    }
    h2{
        padding-left: 20px;
        font-size: 20px;
    }
    h2.normal:before{
        margin-left: -20px;
    }
    .block-1{
        height: 962px;
        background: url(../img/top-320.jpg) center top no-repeat #161618;
    }
    .block-1 .wrap{
        padding: 0;
        padding-top: 462px;
    }
    .block-1 .container {
        margin: 0 auto;
    }
    .block-1 .sale {
        top: 182px;
        left: 208px;
        font-size: 30px;
    }
    .lenta{
        font-size: 24px;
    }   
    .lenta>p{
        width: 300px;
        margin: 0 auto;
        line-height: 1.3em;
    }
    .block-2 .advant ul li {
        width: 100%;
        height: auto;
        float: none;
        margin: 0;
        line-height: 1.3em;
        margin-bottom: 20px;
        padding-bottom: 5px;
    }   
    .block-2 .history{
        padding: 15px;
    }
    .block-2 .history:before{
        width: 280px;
        height: 33px;
        left: 0;
        top: -33px;
        background-size:  280px;
    }
    .block-2 .history:after{
        display: none;
    }
    .block-3 .wrap{
        padding: 40px 0;
    }
    .block-3 .wrap h2{
        padding: 0 15px;
    }
    .block-3 .container>div.sostav {
        float: none;
        width: 100%;
    }
    .block-3 .sostav p {
        padding: 0 15px 8px 15px;
        font-size: 18px;
        text-align: center;
    }
    .block-3 .sostav h5{
        padding: 20px 15px;
    }
    .block-3 .container{
        padding-bottom: 0;
    }
    .block-3 .container-2>img{
        float: none;
        margin: 0 auto;
    }
    .block-3 .container-2{
        text-align: center;
    }
    .block-3 .container-2 .button{
        float: none;
        margin: 0 auto;
        margin-top: 30px;
    }
    .block-4 .rew-item{
        width: 100%;
        padding: 0;
    }
    .block-4 .rew-item>p{
        font-size: 17px;
    }
    .block-4 .container{
        padding-bottom: 0px;
    }
    .block-5 .wrap{
        padding-bottom: 240px;
    }
    .block-5 .wrap>img{
        width: 280px;
        left: 20px;
    }
    .block-5 .container{
        width: 100%;
    }
    .block-5 h5:before{
        position: absolute;
        left: 0;
    }
    .block-5 h5 {
        padding: 40px 0 20px 30px;
    }
    .block-6 .del-item{
        float: none;
        width: 100%;
        text-align: center;
        padding: 0 0 30px 0;
    }
    .block-6 .del-item:last-child{
        padding-bottom: 0;
    }
    .block-6 .del-item>div{
        float: none;
        margin: 0 auto;
    }
    .block-6 .del-item>p{
        padding-top: 20px;
    }
}

.countbox i {
    font-style: normal;
}

.errField {
    display: none;
    font-size: 14px;
    background: #DE2C3C;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 0px auto 10px;
    max-width: 258px;
    width: 100%;
}


#fresh_antlers + .block-1 {
    margin-top: 55px;
}


@media (max-width: 1135px) {
    #fresh_antlers + .block-1 {
    margin-top: 75px;
}
}

@media (max-width: 519px) {
        #fresh_antlers + .block-1 {
    margin-top: 95px;
}

#fresh_antlers br {
    display: none;
}
}

@media (max-width: 398px) {
    #fresh_antlers + .block-1 {
        margin-top: 124px;
    }
}

.button {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  padding: 16px 45px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  text-align: center;
  position: relative;
  outline: none;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
  cursor: pointer;
  border: 2px solid #fff;
  width: 258px; }
  .button:focus, .button:hover {
    text-decoration: none;
    color: #000;
    background-color: #fff; }
  .button:hover {
    color: #000;
    background-color: #fff; }
  .button:active {
    background-color: #f2f2f2; }
.btn-dark{
    color: #222;
    border: 2px solid #222;
}
.btn-dark:hover {
    color: #fff;
    background-color: #222; }
.fc{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    width: 100% !important;
}
.fc >*{
    width: 50%;
    padding: 10px;
}
.fc-p{
    padding: 15px;
}